@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

$bg-color: #fff;
$container-padding: 5% 2.5%;
$hover-trans: all 300ms ease-in-out;
$montserrat: 'Montserrat', sans-serif;


@mixin bg-image($src){
  background: url($src) top left repeat;
}

@mixin flexbox{
  display: -webkit-box; 
  display: -ms-flexbox;  
  display: -webkit-flex;
  display: flex;
}

@mixin carousel-header {
  font-size: 3vw;
  text-transform: uppercase;
}

@mixin carousel-paragraph {
  font-weight: 200;
  font-size: 1.2em;
}

@mixin vertical-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

//GENERAL

body {
  background-color: $bg-color;
}

/****************** Carousel ******************/
.carousel-inner {
  img {
    width: 100%;
  }
}

.item:nth-of-type(1) .carousel-caption{
  @include vertical-caption;
  h3 {
    @include carousel-header;
  }

  p {
    width: 30%;
    font-weight: 200;
    font-size: 1.2em;
  }

  text-align: left;

}

.item:nth-of-type(2) .carousel-caption{
  @include vertical-caption;

  h3 {
    @include carousel-header;
    background: rgba(255, 255, 255, 0.2);
  }
}

.item:nth-of-type(3) {
  background-color: #000;

  .carousel-caption{
    @include vertical-caption;

    h3 {
      @include carousel-header;
    }

    p {
      @include carousel-paragraph;
    }
  }

  img {
    opacity: 0.6
  }
}


/****************** jQuery Button ******************/
.jquery-add {
  padding-top: 5%;
  @include bg-image('../images/bg-pattern.png');
  .btn {
    outline: none;
    padding: 1%;
    text-transform: uppercase;
    transition: $hover-trans;
    letter-spacing: 0.2em;

    &:hover {
      background-color: #9EB9D4;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
}


/****************** Services Section ******************/
.services-wrap {
  @include bg-image('../images/bg-pattern.png');
  padding: $container-padding;
  font-family: $montserrat;

  h2 {
    padding: 2.5% 0; 
    text-align: center;
    font-weight: 500;
    white-space: nowrap;
  }

  .single-service {
    padding: 0 5%;
    opacity: 0;
    .service-icon i {
      transition: $hover-trans;
      font-size: 3.5em;
    }

    &:hover {
      .service-icon {
        color: steelblue;
      }
    }
  }
}

/****************** Media Section ******************/

.media-wrap {
  padding: $container-padding;
  @include bg-image('../images/stripe-bg.png');
  background-color: #7099AC;

  .panel-group {
    margin-bottom: 0;

    .panel {
      margin-top: 0;
      border-radius: 0;

      &.active .panel-heading{
        background-color: #3d3d3d;
        color: #fff;
      }
    }
    
    .panel-heading {
      transition: $hover-trans;
    }

    .panel-heading:hover {
      background-color: #3d3d3d;
      color: #fff;
    }

    .panel-title {
      text-transform: uppercase;

      a:focus, a:hover {
        text-decoration: none;
      }
    }
  }

  .panel-body {
    transition: $hover-trans;
    padding: 5%;
    overflow-y: scroll;
  }
}



/****************** MEDIA QUERIES ******************/

@media (max-width: 600px) {
  .item:nth-of-type(1) .carousel-caption {
    p {
      width: 80%;
      font-weight: 200;
      font-size: 0.8em;
    }
  }

  .item:nth-of-type(3) .carousel-caption {
    p {
      font-weight: 200;
      font-size: 0.8em;
    }
  }

  .single-service {
    margin-bottom: 5%;
  }
}

@media (max-width: 767px) {
  .service-description p {
    display: none;
  }

  .panel-group {
    margin-top: 5%;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .item:nth-of-type(1) .carousel-caption{
    p {
      width: 60%;
    }
  }
}


// Tablet - Services
@media (min-width: 768px) and (max-width: 991px){
  .col-sm-12 > .single-service {
    @include flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2.5%;

    h2 {
      display: inline-block;
      padding: 0;
      text-align: left;
    }

    .service-icon {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .service-description {
      padding-left: 2.5%;
      @include flexbox;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}

/****************** Footer ******************/
footer {
  padding: 2.5%;
}





