@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
#flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#carousel-header {
  font-size: 3vw;
  text-transform: uppercase;
}
#carousel-paragraph {
  font-weight: 200;
  font-size: 1.2em;
}
#vertical-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
body {
  background-color: #fff;
}
/****************** Carousel ******************/
.carousel-inner img {
  width: 100%;
}
.item:nth-of-type(1) .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  text-align: left;
}
.item:nth-of-type(1) .carousel-caption h3 {
  font-size: 3vw;
  text-transform: uppercase;
}
.item:nth-of-type(1) .carousel-caption p {
  width: 30%;
  font-weight: 200;
  font-size: 1.2em;
}
.item:nth-of-type(2) .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
.item:nth-of-type(2) .carousel-caption h3 {
  font-size: 3vw;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.2);
}
.item:nth-of-type(3) {
  background-color: #fff;
}
.item:nth-of-type(3) .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
.item:nth-of-type(3) .carousel-caption h3 {
  font-size: 3vw;
  text-transform: uppercase;
}
.item:nth-of-type(3) .carousel-caption p {
  font-weight: 200;
  font-size: 1.2em;
}
.item:nth-of-type(3) img {
  opacity: 0.6;
}
/****************** jQuery Button ******************/
.jquery-add {
  padding-top: 5%;
  background: url('../assets/images/bg-pattern.png') top left repeat;
}
.jquery-add .btn {
  outline: none;
  padding: 1%;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  letter-spacing: 0.2em;
}
.jquery-add .btn:hover {
  background-color: #9EB9D4;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/****************** Services Section ******************/
.services-wrap {
  background: url('../assets/images/bg-pattern.png') top left repeat;
  padding: 5% 2.5%;
  font-family: 'Montserrat', sans-serif;
}
.services-wrap h2 {
  padding: 2.5% 0;
  text-align: center;
  white-space: nowrap;
}
.services-wrap .single-service {
  padding: 0 5%;
  opacity: 0;
}
.services-wrap .single-service .service-icon i {
  transition: all 300ms ease-in-out;
  font-size: 3.5em;
}
.services-wrap .single-service:hover .service-icon {
  color: steelblue;
}
/****************** Media Section ******************/
.media-wrap {
  padding: 5% 2.5%;
  background: url('../assets/images/stripe-bg.png') top left repeat;
  background-color: #7099AC;
}
.media-wrap .panel-group {
  margin-bottom: 0;
}
.media-wrap .panel-group .panel {
  margin-top: 0;
  border-radius: 0;
}
.media-wrap .panel-group .panel.active .panel-heading {
  background-color: #3d3d3d;
  color: #fff;
}
.media-wrap .panel-group .panel-heading {
  transition: all 300ms ease-in-out;
}
.media-wrap .panel-group .panel-heading:hover {
  background-color: #3d3d3d;
  color: #fff;
}
.media-wrap .panel-group .panel-title {
  text-transform: uppercase;
}
.media-wrap .panel-group .panel-title a:focus {
  text-decoration: none;
}
.media-wrap .panel-group .panel-title a:hover {
  text-decoration: none;
}
.media-wrap .panel-body {
  transition: all 300ms ease-in-out;
  padding: 5%;
  overflow-y: scroll;
}
/****************** Footer ******************/
footer {
  padding: 2.5%;
}
/****************** MEDIA QUERIES ******************/
@media (max-width: 600px) {
  .item:nth-of-type(1) .carousel-caption p {
    width: 80%;
    font-weight: 200;
    font-size: 0.8em;
  }
  .item:nth-of-type(3) .carousel-caption p {
    font-weight: 200;
    font-size: 0.8em;
  }
  .single-service {
    margin-bottom: 5%;
  }
}
@media (max-width: 767px) {
  .service-description p {
    display: none;
  }
  .panel-group {
    margin-top: 5%;
  }
}
@media (min-width: 601px) and (max-width: 992px) {
  .item:nth-of-type(1) .carousel-caption p {
    width: 60%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-12 > .single-service {
    padding: 0 2.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .col-sm-12 > .single-service h2 {
    display: inline-block;
    padding: 0;
    text-align: left;
  }
  .col-sm-12 > .single-service .service-icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .col-sm-12 > .single-service .service-description {
    padding-left: 2.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
